*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #app {
    width: 100vw;
    height: 100vh;
}
body{
    /* test webpack-dev-server red -> yellowgreen */
    color: yellowgreen;
    background-image: url('../svg/none-data.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

img{
    display: inline-block;
}
img:not(:last-child) {
    margin-right: 10px;
}

/* reset button */
button {
    margin: 0;
    padding: 3px 5px;
}
